<footer class="site-footer">
  <p class="fw-light fs-6">
    Copyright &copy; Xiyi Wang {{ site.time | date: '%Y' }}<br />
    Created by <a href="https://github.com/xiyiwang">Xiyi Wang</a><br />
    Version: <a href="/change-log">1.1.0</a>
  </p>
</footer>

<script src='{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}'></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src='{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl" }}'></script>

{% if page.title == 'Archive' %}
<script src='{{ "/assets/js/archive.js " | prepend: site.baseurl }}'></script>
{% endif %}
